doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    if user
      button(type="button" onclick="location.href=\"/logout\"") Logout
      p Logged in as #{user.username}
    else
      button(type="button" onclick="location.href=\"/login\"") Login
    block content
